*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    overflow: hidden;
    background-color: #515151;
}
#pingBtn{
    top: 0;
    left: 0;
    position: absolute;
}